body {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    /* font-weight: 500; */
    font-family: Inter, 
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-style: solid;
    background-color: rgb(255, 255, 255);
    
}


.dropdown .bi-house {
    width: 28px;
    height: 28px;

}

.dropdown:hover {
    /* text-decoration: underline; */
    border-bottom: 3px solid green;
}

.dropdown-menu {
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(238, 238, 238);
    font-size: 12px;
}

.dropdown-menu .dropdown-item {
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(58, 99, 202);

}
/* main */
/* 1st */
.main-content .col-md-3 {
    /* background-color: rgb(69, 206, 51); */

}

.fs-6 {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 15px;
}


.col-md-3 .fs-6:hover {
    color: rgb(0, 102, 204);
}

.main-content .col-md-5 {
    /* background-color: rgb(226, 141, 43); */
}

.col-md-5 p {
    font-size: 14px;
}


.fs-4 {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.main-content .col-md-4 {
    /* background-color: rgb(112, 112, 212); */
} 

.fs-7 {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 15px;
}